.splash {
    height: 100vh;
}

.play-btn {
    border: 2px solid white;
    width: min-content;
    transition: 0.2s;
}

.play-btn:hover {
    background-color: white;
    color: #6a1a1a;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.level-relative {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    width: 25vw;
    color: white;
    font-size: 1.8rem;
}

.level-bar {
    height: 0.4rem;
    background: linear-gradient(to right, lightgray, gray); /* Adjust colors as needed */    position: absolute;
    top: -0.2rem;
    z-index: -1;
    width: 99%; /* Stop ends of bar being seen outside circles */
}

.level-progress-wrapper {
    top: -0.2rem;
    left: 48px;
    right: 48px;
    z-index: -1;
    position: absolute;
}

.level-progress {
    height: 0.4rem;
    background: linear-gradient(to right, rgb(210, 178, 0), purple); /* Adjust colors as needed */    position: absolute;
    box-shadow: 0 0 10px gold;
    width: 0;
    border-radius: 0 10px 10px 0;
    transition: width 0.5s ease-out;
}

.xp-current {
    height: 3rem;
    aspect-ratio: 1;
    background-color: rgb(210, 178, 0);
    position: absolute;
    top: -1.5rem;
    border-radius: 50%;
    left: 0;
    box-shadow: 0 0 10px yellow;
}

.xp-needed {
    height: 3rem;
    aspect-ratio: 1;
    background-color: gray;
    position: absolute;
    right: 0;
    top: -1.5rem;
    border-radius: 50%;
}

.welcome-wrap {
    position: fixed;
    margin: 2rem;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.welcome {
    background-color: rgb(235, 235, 235);
    border-radius: 25px;
    height: min-content;
    width: 40%;
}

.welcome-title {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
    padding-bottom: 0;
    color: black;
}

.tips {
    margin: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    /* color: rgb(55, 55, 55); */
    font-size: 1.5rem;
    font-weight: 200;
    /* list-style-position: inside; */
}

.play-now {
    font-size: 1.5rem;
    background-color: crimson;
    color: white;
    border-radius: 50px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: 300ms;
    cursor: pointer;
    user-select: none;
}

.play-now:hover {
    background-color: red;
}

under {
    text-decoration: underline;
}

.screen-overlay {
    position: fixed;
    inset: 0;
    background-color: black;
    opacity: 0.8;
    z-index: 1;
}

.game {
    position: fixed;
    inset: 0;
}

.game-image {
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
    z-index: 401;
    margin: 1rem;
    border: 2px solid crimson;
    border-radius: 0.5rem;
    background-size: cover;
    box-shadow: 0 0 8px darkgray;
    transition: 300ms;
    background-position: center;
    pointer-events: all;
}

.game-stats {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    background-color: white;
    border-radius: 20px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    z-index: 401;
    box-shadow: 0 0 8px lightgray;
}

.points {
    font-size: 1.2rem;
}

.directions {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin: 1rem;
    z-index: 401;
    background-color: white;
    border-radius: 25px;
    font-size: 1.2rem;
}

.mid-wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 401;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm {
    padding: 0.5rem 2rem 0.5rem 2rem;
    background-color: lime;
    color: white;
    font-size: 1.5rem;
    border-radius: 25px;
    box-shadow: 0 0 10px darkgray;
    transition: 0.3s;
}

.distance {
    background-color: white;
    border-radius: 25px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin-top: 0.5rem;
    width: fit-content;
}

.confirm:hover {
    background-color: green;
}

.next-round {
    background-color: orange;
}

.next-round:hover {
    background-color: gold;
}

.finished {
    height: 100vh;
}

.finish-stats {
    font-size: 1.4rem;
    line-height: 1.1;
    font-weight: 300;
}

.ver {
    position: fixed;
    right: 0;
    bottom: 0;
    color: white;
    font-weight: 200;
    margin-right: 0.3rem;
    text-align: right;
}

.src {
    position: fixed;
    left: 0;
    bottom: 0;
    color: white;
    font-weight: 200;
    margin-left: 0.3rem;
    cursor: pointer;
}

.play-again {
    width: max-content;
    margin-top: 3rem;
    position: absolute;
}